<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <%= fa_icon "picture-o", style: "font-size: 6rem" %>
            </div>
            <div class="col-md-8 ml-auto">
              <h4>Cancel this Investment?</h4>
              <p>Your investment look perfect, save it and invest later</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= link_to "Save Investment", cancel_wizard_investment_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
