<div class="main-page-wrapper user-access-page">


	<div class="main-container">
		<div class="inner-box">
			<h3 class="main-title">Verify your email address</h3>
			<img src="images/email.png" alt="" class="icon">
			<div class="confirmation-text font-fix">We’ve sent a confirmation to your inbox to verify your email <span class="mark-tex">youremail@test.com</span>.</div>
			<a href="#" class="theme-button"><span></span>Resend email</a>
		</div> <!-- /.inner-box -->

		<div class="text-center">
			<a href="https://www.coinmitted.com" class="additional-link-text font-fix">Go to coinmitted.com</a>
		</div>
	</div> <!-- /.main-container -->
	