<div class="main-page-wrapper">
  <div class="dropdown-overlay"></div>

    <!-- *********************** Dashboard Main Container ************************** -->
    <div id="dashboard-wrapper">

      <%= render "layouts/admin_header" %>

      <!-- ******************** Dashboard Body Wrapper *********************** -->
      <div class="container">
        <div id="dashboard-main-body" class="clearfix">
          <%= render "layouts/admin_sidebar" %>
        </div>
      </div>
    </div>
</div>

